<<<<<<< HEAD

.about {
    min-height: 80vh;
    margin: auto;
=======
.about {
    min-height: 80vh;
    margin: auto;
}

.about-image {
    width: 50%;
    max-width: 400px;
    display: block;
    margin: 20px auto;
>>>>>>> origin/Feature--ah-Sa3d
}